.custom-navbar {
  font-size: 1.2rem;
  background-color: #007BFF !important;
  color: #FFFFFF !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #FFFFFF;
}

.custom-navbar .navbar-toggler-icon {
  background-color: #FFFFFF;
}

.custom-navbar .dropdown-menu {
  background-color: #6C757D;
  color: #FFFFFF;
}

.custom-navbar .dropdown-item {
  color: #FFFFFF;
}

.custom-navbar .dropdown-item:hover {
  color: #007BFF;
}

.navbar-toggler-icon {
  color: white !important;
  outline-color: white !important;
  background-color: #007BFF !important;
  border: none !important;
  border-color: #FFFFFF !important;
}
