<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-2">Harnett County EMS Protocols</h1>
    </div>
  </div> -->
  <div class="col-md-12 text-center">
    <img src="./assets/hc-ems.jpg" class="img-fluid" alt="">
  </div>


<!-- Latest Updates Section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h2 class="display-5">Latest Updates</h2>
    </div>

    <!-- Update 1 -->
    <div class="col-md-4">
      <div class="card bg-light border-secondary">
        <div class="card-header text-center text-secondary">
          <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Site Launched! 10/31/2023</h5>
          <p class="card-text">I am pleased to announce the launch of the Harnett County EMS Protocols website. This platform aims to centralize all Policies, Protocols, and Procedures, making them easily accessible to our providers. I am committed to continuously enhancing the site, and in the coming months, you can anticipate a series of critical updates and new features. Additionally, I am in the process of developing a mobile application that will function offline.

            Should you have any questions, feedback, or suggestions, I welcome you to reach out to me at Justin.Barlowe@proton.me. I will respond as quickly as I can. </p>
        </div>
      </div>
    </div>

    <!-- Update 2 -->
    <div class="col-md-4">
      <div class="card bg-light border-secondary">
        <div class="card-header text-center text-secondary">
          <i class="fas fa-notes-medical fa-2x"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Known Issues</h5>
          <p class="card-text"><ul>
            <li>Missing Protocols</li>
            <li>Styling issues</li>
            <li>Mobile UI Optimization</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Update 3 -->
    <div class="col-md-4">
      <div class="card bg-light border-secondary">
        <div class="card-header text-center text-secondary">
          <i class="fas fa-ambulance fa-2x"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Upcoming Features</h5>
          <p class="card-text"><ul>
            <li>
              Document locker with print function
            </li>
            <li>
              Policies
            </li>
            <li>
              Styling improvements
            </li>
            <li>Password protected area</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

