<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-2">Harnett County EMS Protocols</h1>
    </div>
  </div> -->
  <div class="col-md-12 text-center">
    <img src="./assets/hc-ems.jpg" class="img-fluid" alt="">
  </div>


<!-- Latest Updates Section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <h2 class="display-5">Latest Updates</h2>
    </div>

    <!-- Update 1 -->
    <div class="col">
      <div class="card bg-light border-secondary">
        <div class="card-header text-center text-secondary">
          <i class="fas fa-exclamation-circle fa-2x"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">10/31/2023 <br>Site Launched! </h5>
          <p class="card-text">I am pleased to announce the launch of the Harnett County EMS Protocols website. This platform aims to centralize all Policies, Protocols, and Procedures, making them easily accessible to our providers. I am committed to continuously enhancing the site, and in the coming months, you can anticipate a series of critical updates and new features. Additionally, I am in the process of developing a mobile application that will function offline.

            Should you have any questions, feedback, or suggestions, I welcome you to reach out to me at Justin.Barlowe@proton.me. I will respond as quickly as I can. </p>

            <h5 class="card-title text-center">Upcoming Updates</h5>
            <p class="card-text">- Offline Functional Mobile Application<br>- UI Improvements <br>- Dark Mode <br>- Admin Area<br>- Improved PDF function</p>

            <h5 class="card-title text-center">Known Issues</h5>
            <p class="card-text">- Broken/Missing Protocol Links<br>- Mobile UI Problems <br>- Click to close broken (Click anywhere but in dropdown to exit dropdown)</p>

        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12 text-center mb-4">
          <h2 class="display-5">Useful Links</h2>
        </div>

        <!-- Links -->
        <div class="col">
          <div class="card bg-light border-secondary">
            <div class="card-header text-center text-secondary">
              <i class="fas fa-exclamation-circle fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="https://esosuite.net/login/">
                    <i class="fas fa-link pr-2"></i> ESO
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="https://www.stationcheck.com/">
                    <i class="fas fa-check-circle pr-2"></i> Station Check
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="https://et.harnett.org:7120/ExecuTime/Login.action?bmark=Index.action">
                    <i class="fas fa-check-circle pr-2"></i> Time Clock
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="https://www.harnett.org/prmo/?btid=7&bid=858">
                    <i class="fas fa-check-circle pr-2"></i> Harnett Employee Forms
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- Footer -->
<footer class="custom-footer py-3">
  <div class="container">
    <span>Version 1.0.0</span>
    <span class="float-end">By Justin Barlowe</span>
  </div>
</footer>
